@using EntityLayer.Entities;
@model List<Programs>
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Paneli</title>

</head>
<body>
    <style>
        h1{
            padding-left:500px;
        }
    </style>
    <h1>Mevcut Programlar</h1>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Kullanıcı Adı</th>
          

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.ProgramName</td>
                
                <td>
                    @using (Html.BeginForm("Sil", "Programs", new { id = item.ID }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Sil</button>
                    }
                </td>
            
            </tr>
        }
    </table>


</body>
</html>
